body {
    overflow-y: scroll;
}

table.table{
  background-color: #222222;
}

table.table td{
  word-break: break-all;
}

table.table td.json{
  font-size: 13px;
  font-family: 'Inconsolata', monospace;
  white-space: pre;
}

.bottom-margin{
  margin-bottom:10px;
}

.btn-success{
  color: black;
}
