{{define "info"}} {{ template "header" }}

<div class="container">
  <h1>Info</h1>
  <p>Created by <a href="http://jimeagle.com">Jim Eagle</a> as a means to learn <a href="https://golang.org/">Go</a>.</p>
  <p>Opened sourced on <a href="https://github.com/Jleagle/postie">GitHub</a></p>

  <h3>Credits</h3>
  <ul>
    <li>Logo - <a href="http://emojipedia.org/htc/sense-7/envelope/">HTC Sense 7 emoji</a></li>
    <li>
      CSS libraries -
      <a href="http://getbootstrap.com/">Bootstrap</a>,
      <a href="https://bootswatch.com/darkly/">Darkly</a>

    </li>
    <li>
      JS libraries -
      <a href="https://jquery.com/">jQuery</a>,
      <a href="http://getbootstrap.com/">Bootstrap</a>,
      <a href="http://nickersoft.github.io/push.js/">push.js</a>,
      <a href="https://momentjs.com/">Moment.js</a>,
      <a href="http://mkoryak.github.io/floatThead/">jquery.floatThead</a>
    </li>
  </ul>
</div>

{{ template "footer" }} {{end}}