{{define "requests"}} {{ template "header" }}

<div class="input-group input-group-lg" style="margin-bottom:20px;">
    <span class="input-group-addon" id="sizing-addon1">Endpoint:</span>
    <input type="text" class="form-control" value="http://{{.Domain}}/{{.URL}}" id="input">
</div>

<table class="table table-hover table-condensed table-responsive">
    <thead>
        <tr>
            <th>Info</th>
            <th>POST</th>
            <th>Headers</th>
        </tr>
    </thead>
    <tbody>
        {{range .Requests}}
        <tr>
            <td>{{.IP}}</td>
            <td>{{.Post}}</td>
            <td>{{.Headers}}</td>
        </tr>
        {{end}}
    </tbody>
</table>

<script type="text/javascript">
    $("#input")
        .on('click', function () {
            this.select();
            document.execCommand("copy");
            Push.create('Copied to clipboard!');
            $(this).parent().addClass("has-success");
        }).on('blur', function () {
            $(this).parent().removeClass("has-success");
        });

    var pathArray = window.location.pathname.split('/');
    var socket = new WebSocket("ws://" + location.host + "/" + pathArray[1] + "/ws");

    socket.onopen = function (e) {
        console.log('Socket opened');
    };
    socket.onclose = function (e) {
        console.log('Socket closed: ' + e.data);
    }
    socket.onmessage = function (e) {
        console.log('Socket data: ' + e.data);

        Push.create('New request! ' + window.performance.now())

        var data = JSON.parse(e.data);

        var row = $('<tr><td>' + data.ip + '</td><td>' + data.post + '</td><td>' + data.headers + '</td></tr>').hide();

        $("table tbody").prepend(row).find('tr').slideDown();
    }
    socket.onerror = function (e) {
        console.log('Socket error: ' + e.data);
    }

</script>

{{ template "footer" }} {{end}}