{{define "requests"}} {{ template "header" }}

<table>
    {{range .Requests}}
    <tr>
        <td>{{.IP}}</td>
    </tr>
    {{end}}
</table>

<script type="text/javascript">
    if (window.WebSocket === undefined) {
        console.log('Your browser does not support WebSockets');
    } else {

        var pathArray = window.location.pathname.split('/');
        var socket = new WebSocket("ws://" + location.host + "/" + pathArray[1] + "/ws");

        socket.onopen = function () {
            console.log('Socket opened');
        };
        socket.onclose = function () {
            console.log('Socket closed');
        }
        socket.onmessage = function (e) {
            console.log('Socket data:' + e.data);
        }
        socket.onerror = function (e) {
            console.log('Socket error:' + e.data);
        }
    }

</script>

{{ template "footer" }} {{end}}